body {
  margin: 0;
  background-color: #444;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

img {
  border-radius: 100%;
  width: 300px;
  box-shadow: 0 0 20px #000;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 5em;
  color: #fff;
  text-shadow: 0 0 20px #000;
}
